attrs==19.3.0
bcrypt==3.1.7
bencode==1.0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
functools32==3.2.3.post2
idna==2.8
importlib-metadata==0.23
jsonref==0.2
jsonschema==3.1.1
more-itertools==5.0.0
pathlib2==2.3.5
pycparser==2.19
pymongo==3.9.0
pyrsistent==0.15.5
python-dateutil==2.8.1
python-http-client==3.2.1
PyYAML==5.1.2
requests==2.22.0
scandir==1.10.0
sendgrid==6.1.0
six==1.13.0
urllib3==1.25.7
virtualenv==16.7.7
zipp==0.6.0
