/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.searchboxcn{
    min-height:50px;
    width:90%;
    margin:50px 0 30px 5%;
    padding:0px;
    border:0px dashed orange;
}
.pagecn{
    min-height:700px;
    width:90%;
    margin-left:5%;
    border:0px dashed orange;
}
.pagelinkcn{
    width:50%;margin:40px 5px 0px 0px;
    border:0px dashed red;
    display:none;
    font-size:12px;
}

.menudiv{
    display:block;
    float:right;
    width:auto;
    color:#fff;
    border:0px dashed #fff;
    cursor:pointer;
}

.pagelink{
    cursor:pointer;
}
.txtinputbox{
    height:35px;
    width:100%;
    margin:0px 0px 5px 0px;
    padding:10px;
    border:1px solid #ddd;
    border-radius:5px;
    font-style:normal;
}

.submitbtn{
    height:35px;
    padding:0px 15px 0px 15px;
    background:#ddd;
    border:1px solid #ddd;
    border-radius:5px;
    font-style:normal;
}

.submitbtn:hover{
    background:#eee;
}


.loginmsg{
    display:block;
    float:right;
    width:auto;
    color:#777;
}

.divider{
    display:block;
    float:right;
    width:auto;
    color:#fff;
    font-size:10px;
    margin:1px 10px 0px 10px;
}

.createlink, .editlink, .viewlink, .sharelink{
    cursor:pointer;
}
.editlink, .sharelink {
    margin-right: 1em;
}

div.progresswrapper{
 position:absolute;
 top:0%;
 left:0%;
 width:100%;
 height:100%;
 background:#fff;
 z-index:2000;
 opacity: 0.9;
 filter: alpha(opacity=90); /* For IE8 and earlier */
}


div.progresscn{
 position:fixed;
 top:40%;
 margin-left:45%;
 width:10%;
 z-index:2001;
}


.queryfield{
    width:99%;
    height:30px;
    margin-right:1%;
}
.queryvalue{
    width:99%;
    height:35px;
    margin-right:1%;
    padding:10px;
    border-radius:5px;
    border:1px solid #ccc;
}
.searchbtn{
    height:35px;
    width:80%;
}

.jq-toast-wrap {
  width: 340px !important;
}

div[data-schematype="object"] h5 {
    margin: 0px !important;
    width: 100% !important;
}

div[data-schematype="object"] p {
    margin: 0px !important;
    margin-bottom: 5px !important;
}

div#editor_div ~ div {
    width: 100% !important;
    margin: 0 !important    ;
}

input#downloadbtn {
    margin-left: 5px;
}

div#editor_div div.well {
    background-color: #e7e7e7;
}

div#editor_div div.row:has(label:contains("bco_id")) {
    background-color: #e2d2f8;
    margin: 0;
}

.bco-board {
    background-color: #E7E7E7;
    margin: 0;
}

.header-domain, 
.header-domain > div, 
.header-domain > div > h5, 
.header-domain div.well {
    background-color: #E2D2F8 !important;
    margin: 0;
}

.provenance-domain,
.provenance-domain > div,
.provenance-domain > div > h5,
.provenance-domain div.well {
    background-color: #F8F8C7 !important;
    margin: 0;
}

.usability-domain,
.usability-domain > div,
.usability-domain > div > h5,
.usability-domain div.well {
    background-color: #E2D2F8 !important;
    margin: 0;
}

.description-domain,
.description-domain > div,
.description-domain > div > h5,
.description-domain div.well {
    background-color: #D9F8C1 !important;
    margin: 0;
}

.execution-domain,
.execution-domain > div,
.execution-domain > div > h5,
.execution-domain div.well {
    background-color: #CCDAF8 !important;
    margin: 0;
}

.parametric-domain,
.parametric-domain > div,
.parametric-domain > div > h5,
.parametric-domain div.well {
    background-color: #F8D6EE !important;
    margin: 0;
}

.error-domain,
.error-domain > div ,
.error-domain > div  > h5,
.error-domain div.well {
    background-color: #DAF8CC !important;
    margin: 0;
}

.io-domain,
.io-domain > div,
.io-domain > div > h5,
.io-domain div.well {
    background-color: #C3F8DA !important;
    margin: 0;
}

.control-label {
    font-weight: 100;
}